---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';

const metadata = {
  title: 'Company Message',
};
---

<Layout metadata={metadata}>
    <Hero2
      image={{
        src: '~/assets/images/hero-image.png',
        alt: 'Company Message Image', 
    }}>
    <Fragment slot="title">
      안녕하세요. <br />
      <span class="text-accent dark:text-white highlight"> 하늘엔지니어링</span> 입니다.
    </Fragment>

    <Fragment slot="subtitle">
      하늘엔지니어링은 2007년 설립 이후, 고객의 만족을 최우선으로 생각하며, <br />
      고객의 요구에 최적화된 솔루션을 제공하기 위해 노력하고 있습니다.
    </Fragment>
  </Hero2>
</Layout>
